Repository w3c/imsc, pull requests merged in 2018-09, with the labels that each got.

#379 General update
  README.md
Labels: non-specification

#448 Informative section headers made consistent
  imsc1/spec/ttml-ww-profiles.html
Labels: editorial, imsc1.1

#449 Add Stefan Poeschel to the acknowledgements
  imsc1/spec/ttml-ww-profiles.html
Labels: editorial, imsc1.1

#447 Fix color contrast
  imsc1/spec/ttml-ww-profiles.html
Labels: imsc1.1

#450 Clean reference shortcut text
  imsc1/spec/ttml-ww-profiles.html
Labels: editorial, imsc1.1

#452 Constrain rh/rw on tts:extent and tts:position
  imsc1/spec/substantive-changes-summary.txt
  imsc1/spec/ttml-ww-profiles.html
Labels: imsc1.1

#457 Add image element to note at §5.1
  imsc1/spec/ttml-ww-profiles.html
Labels: imsc1.1

#456 Remove tts:lineShear
  imsc1/spec/substantive-changes-summary.txt
  imsc1/spec/ttml-ww-profiles.html
Labels: imsc1.1

#458 Remove duplicate conformance text
  imsc1/spec/ttml-ww-profiles.html
Labels: imsc1.1

#460 Remove tts:lineShear from note at Section 8.4.5
  imsc1/spec/ttml-ww-profiles.html
Labels: imsc1.1

#463 Clean-up Annex L and apply Tidy
  imsc1/spec/ttml-ww-profiles.html
Labels: imsc1.1

#464 Code of Conduct
  CODE_OF_CONDUCT.md
Labels: not an issue
